/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  .cont {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #b7b3b3;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .frm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Mobile Screen Size */
  
  @media only screen and (max-width: 768px) {
    .container {
      margin: 20px auto;
      padding: 10px;
    }
  
    .frm {
      padding: 10px;
    }
  
    .form {
      padding: 10px;
    }
  
    input, textarea {
      padding: 5px;
      margin-bottom: 10px;
    }
  
    button[type="submit"] {
      padding: 5px;
    }
  }
  
  /* PC Screen Size */
  
  @media only screen and (min-width: 769px) {
    .container {
      margin: 40px auto;
      padding: 20px;
    }
  
    .frm {
      padding: 20px;
    }
  
    .form {
      padding: 20px;
    }
  
    input, textarea {
      padding: 10px;
      margin-bottom: 20px;
    }
  
    button[type="submit"] {
      padding: 10px;
    }
  }
  
  /* Specific Styles */
  
  .m {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .d {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .i {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .t {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .n {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .ar {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .g {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .s {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .s:hover {
    background-color: #3e8e41;
  }